
.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 28px 94px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;

    &_blue {
        color: #fff;
        background-color: #180d5b;

        &:hover {
            color: #180d5b;
            background-color: #fff;
        }
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #180d5b;
    }
}

@media (max-width: 1440px) {
    .btn {
        padding: 25px 90px;
    }
}

@media (max-width: 1280px) {
    .btn {
        padding: 20px 85px;
        font-size: 22px;
    }
}

@media (max-width: 1024px) {
    .btn {
        padding: 15px 80px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 15px 70px;
    }
}

@media (max-width: 480px) {
    .btn {
        padding: 15px 70px;
        font-size: 16px;
    }
}
