
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1c53bf;
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__btn {
    padding: 11px 39px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 40px;
    transition: .3s;

    &:hover {
        color: #fff;
        background-color: #180d5b;
    }
}

.footer__item {
    flex: 0 0 auto;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 1024px) {
    .footer__item {
        max-width: 100px;

        &_btn {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .footer__body {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: -30px;
    }

    .footer__item {
        margin-bottom: 30px;

        &_btn {
            max-width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .footer__body {
        justify-content: space-between;
    }

    .footer__item {
        width: 30%;
        margin-right: 0;
        margin-left: 0;

        &:first-child {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            text-align: center;
        }

        &:last-child {
            width: 100%;
            text-align: center;
        }
    }

    .footer__btn {
        padding: 10px 35px;
        font-size: 14px;
    }
}
