
.header {
    position: relative;
    max-width: 1440px;
    padding-right: 225px;
    padding-left: 225px;
    background-image: url('../media/header/bg-face.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &::before {
        position: absolute;
        left: 50%;
        z-index: -1;
        width: 100vw;
        height: 100%;
        content: '';
        background-image: url('../media/header/bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transform: translateX(-50%);
    }
}

.header__face {
    padding-bottom: 185px;
}

.header__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
}

.header__logo {
    display: flex;
    align-items: center;

    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 140px;
        margin-right: 29px;
        font-family: "Gotham", sans-serif;
        font-size: 30px;
        font-weight: 900;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
    }

    &_footer {
        & > a {
            width: 120px;
            height: 120px;
            border-radius: 10px;
        }
    }
}

.header__logo-prefix {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.header__login {
    padding: 8px 38px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 40px;
    transition: .3s;

    &:hover {
        color: #fff;
        background-color: #180d5b;
    }
}

.header__body {
    position: relative;
}

.header__name {
    margin-bottom: 80px;
}

.header__content {
    max-width: 720px;
}

.header__title {
    margin-bottom: 70px;
    font-family: "Gotham", sans-serif;
    font-size: 72px;
    font-weight: 900;
    color: #fff;

    & span {
        display: block;
    }
}

.header__subtitle {
    margin-bottom: 55px;
    font-size: 36px;
    font-weight: 400;
    color: #fff;

    & span {
        display: block;
    }
}

.header__bonus {
    margin-bottom: 55px;
    font-family: "Rubik", sans-serif;
    font-size: 72px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.header__description {
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 36px;
    color: #fff;

    & span {
        display: block;
    }
}

.header__media {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.header__media-item {
    border-radius: 5px 0 0 5px;

    &:first-child {
        width: 466px;
        height: 584px;
        background-color: #fff;
    }

    &:last-child {
        position: absolute;
        top: 212px;
        right: 0;
        width: 226px;
        height: 530px;
        background-color: #000;
    }
}

@media (max-width: 1440px) {
    .header {
        padding-right: 100px;
        padding-left: 100px;
    }

    .header__media-item {
        &:first-child {
            width: 390px;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        padding-right: 50px;
        padding-left: 50px;
    }

    .header__face {
        padding-bottom: 110px;
    }

    .header__content {
        max-width: 515px;
    }

    .header__subtitle {
        margin-bottom: 35px;
        font-size: 30px;
    }

    .header__bonus {
        margin-bottom: 35px;
    }

    .header__description {
        line-height: 1.3;

        & span {
            display: inline;
        }
    }

    .header__name {
        margin-bottom: 60px;
    }

    .header__title {
        margin-bottom: 30px;
        line-height: 1;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        & > a {
            width: 110px;
            height: 110px;
            font-size: 24px;
        }

        &_footer {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > a {
                margin-right: 0;
                margin-bottom: 10px;
                border-radius: 10px;
            }
        }
    }

    .header__media-item {
        &:first-child {
            width: 250px;
            height: 400px;
        }

        &:last-child {
            width: 150px;
            height: 300px;
        }
    }

    .header__logo-prefix {
        font-size: 16px;
    }

    .header__head {
        margin-bottom: 100px;
    }

    .header__title {
        font-size: 55px;
    }

    .header__content {
        max-width: 430px;
    }

    .header__subtitle {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .header__bonus {
        margin-bottom: 20px;
    }

    .header__description {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header__face {
        padding-bottom: 70px;
    }

    .header__login {
        font-size: 16px;
    }

    .header__logo {
        & > a {
            width: 90px;
            height: 90px;
            margin-right: 10px;
            font-size: 18px;
        }

        &_footer {
            & > a {
                margin-right: 0;
            }
        }
    }

    .header__media {
        display: none;
    }

    .header__title {
        margin-bottom: 25px;
        font-size: 44px;
    }

    .header__name {
        max-width: 210px;
        margin-bottom: 40px;
    }

    .header__subtitle {
        font-size: 20px;
    }

    .header__bonus {
        font-size: 55px;
    }

    .header__description {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .header {
        padding-right: 30px;
        padding-left: 30px;
    }

    .header__logo {
        & > a {
            width: 70px;
            height: 70px;
            margin-right: 10px;
            font-size: 16px;
        }
    }

    .header__login {
        padding: 8px 20px;
        font-size: 14px;
    }

    .header__logo-prefix {
        font-size: 14px;
    }

    .header__head {
        margin-bottom: 60px;
    }

    .header__name {
        margin-right: auto;
        margin-left: auto;
    }

    .header__title {
        font-size: 38px;
        text-align: center;
    }

    .header__subtitle {
        font-size: 18px;
        text-align: center;
    }

    .header__bonus {
        text-align: center;
    }

    .header__description {
        margin-bottom: 35px;
        text-align: center;
    }

    .header__btn {
        display: block;
    }
}
